$text-color: rgba(5, 7, 60, 1);
$orange-color: rgba(235, 102, 43, 1);

%section3heading {
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

// Variables
$text-color: #05073c;

// mixins
@mixin button($width, $height, $radius, $bgcolor) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: $bgcolor;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

@mixin letters($size, $weight, $height, $color) {
  font-family: "Inter", sans-serif;
  text-align: left;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  color: $color;
}

@mixin text-typography($weight, $size, $height) {
  font-family: "Inter", sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $text-color;
}

@mixin section3-heading-typography {
  font-family: "Inter", sans-serif;
  font-size: 29.18px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: $text-color;
  margin-bottom: 24px;
}

@mixin section3-section-char {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e7e6e6;
}

@mixin section-3-grid-item-marker {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  margin-right: 15px;
}

// ft33_239

nav {
  max-width: 1320px;
  margin: auto;
  padding: 22px 15px 22px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > .arfirstline {
    display: flex;
    align-items: center;
    gap: 77px;

    > .arlogo {
      width: 167px;
      height: 32px;
    }

    > .arsearch {
      width: 290px;
      height: 20px;
      border: none;
      @include letters(14.77px, 400, 17.87px, hsla(0, 0%, 46%, 1));
    }
  }

  > .arcomponents {
    display: flex;
    gap: 62.8px;
    align-items: center;
    > div {
      @include letters(14.77px, 400, 28.13px, hsla(238, 85%, 13%, 1));
    }

    > button {
      @include letters(14.3px, 500, 28px, hsla(0, 0%, 100%, 1));
      @include button(83.31px, 44px, 200px, hsla(18, 83%, 55%, 1));
    }
  }
}

.arlinks {
  max-width: 1320px;
  margin: auto;
  padding: 22px 15px 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > a {
    @include letters(13.23px, 400, 26.25px, hsla(238, 85%, 13%, 1));
    text-decoration-line: none;
  }
}

header {
  max-width: 1320px;
  margin: auto;
  padding: 10px 15px 0px 15px;

  > .arbutton1 {
    display: flex;
    gap: 10px;
    margin-bottom: 22px;
    :nth-of-type(1) {
      @include letters(13.67px, 500, 28px, hsla(18, 83%, 55%, 1));
      @include button(96.61px, 40px, 200px, hsla(18, 83%, 55%, 0.05));
    }

    :nth-of-type(2) {
      @include letters(13.78px, 500, 28px, hsla(0, 0%, 0%, 1));
      @include button(145.05px, 40px, 200px, hsla(0, 0%, 96%, 1));
    }
  }

  > .arpara1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > .arpara2 {
      display: flex;
      padding-left: 105px;
      gap: 40.8px;
      > p {
        @include letters(14.41px, 400, 28.13px, hsla(238, 85%, 13%, 1));
      }
    }

    > .arpara3 {
      display: flex;
      gap: 55.8px;

      > p {
        @include letters(14.41px, 400, 28.13px, hsla(238, 85%, 13%, 1));
      }
    }
  }

  > h2 {
    @include letters(39.69px, 700, 56px, hsla(238, 85%, 13%, 1));
    margin: 0px;
  }
  > .ar {
    > .arbutton2 {
      @include letters(14.65px, 500, 24px, hsla(0, 0%, 100%, 1));
      @include button(140.88px, 46px, 200px, hsla(238, 85%, 13%, 1));
      position: relative;
      top: 490px;
      left: 1160px;
    }

    > .arimages {
      display: grid;
      gap: 10px;
      :nth-of-type(1) {
        width: 100%;
        height: 510px;
        grid-area: 1/1/3/3;
      }

      :nth-of-type(2) {
        width: 100%;
        height: 250px;
        grid-area: 1/3/2/5;
      }

      :nth-of-type(3) {
        width: 100%;
        height: 250px;
        grid-area: 2/3/3/4;
      }

      :nth-of-type(4) {
        width: 100%;
        height: 250px;
        grid-area: 2/4/3/5;
      }
    }
  }
}

@media (max-width: 1150px) {
  nav {
    max-width: 1320px;
    margin: auto;
    padding: 22px 15px 22px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .arfirstline {
      display: flex;
      align-items: center;
      gap: 5px;

      > .arlogo {
        width: 167px;
        height: 32px;
      }

      > .arsearch {
        width: 150px;
        height: 20px;
        border: none;
        @include letters(14.77px, 400, 17.87px, hsla(0, 0%, 46%, 1));
      }
    }

    > .arcomponents {
      display: flex;
      gap: 8px;

      > div {
        @include letters(14.77px, 400, 28.13px, hsla(238, 85%, 13%, 1));
      }

      > button {
        @include letters(14.3px, 500, 28px, hsla(0, 0%, 100%, 1));
        @include button(83.31px, 44px, 200px, hsla(18, 83%, 55%, 1));
      }
    }
  }
}
@media (max-width: 540px) {
  nav {
    max-width: 1320px;
    margin: auto;
    padding: 22px 15px 22px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .arfirstline {
      display: flex;
      align-items: center;
      gap: 3px;

      > .arlogo {
        width: 167px;
        height: 32px;
      }

      > .arsearch {
        width: 50px;
        height: 20px;
        border: none;
        @include letters(14.77px, 400, 17.87px, hsla(0, 0%, 46%, 1));
      }
    }

    > .arcomponents {
      display: flex;
      gap: 8px;

      > div {
        @include letters(14.77px, 400, 28.13px, hsla(238, 85%, 13%, 1));
      }

      > button {
        @include letters(14.3px, 500, 28px, hsla(0, 0%, 100%, 1));
        @include button(83.31px, 44px, 200px, hsla(18, 83%, 55%, 1));
      }
    }
  }
}

// ft33_185

.section-3-container {
  max-width: 1320px;
  margin: auto;
  margin-top: 45px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}

.section3-sidebar {
  width: 360px;
  height: fit-content;
  border: 1px solid #e7e6e6;
  border-radius: 20px;
  box-shadow: 0px 10px 40px 0px #0000000d;
  display: flex;
  flex-direction: column;
  padding: 35px 31px;

  p:first-child {
    @include text-typography(400, 14.88px, 28.13px);
    span {
      @include text-typography(500, 18.75px, 37.5px);
    }
  }

  p:nth-of-type(2) {
    @include text-typography(500, 17.44px, 27px);
  }

  button {
    @include letters(14.41, 500, 28, #ffffff);
    @include button(100%, 62px, 12px, #eb662b);
  }
}

.sidebar-duration {
  border: 1px solid #dddddd;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 20px;

  .section3-main-1-item {
    justify-content: flex-start;
  }
}

.tickets {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  margin-bottom: 20px;

  > div:last-child {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        @include text-typography(400, 14px, 26.25px);
      }
    }
  }

  > div:first-child {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    p {
      @include text-typography(400, 13.34px, 26.25px);
      span {
        @include text-typography(500, 13.34px, 26.25px);
      }
    }
  }

  .ticket-box {
    width: 30px;
    height: 30px;
    border: 1px solid #e7e6e6;
    border-radius: 30px;
  }
}

.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  span:first-child {
    @include text-typography(500, 16.88px, 33.75px);
  }

  span:last-child {
    @include text-typography(500, 17.72px, 33.75px);
  }
}

.section3-main {
  max-width: 880px;
  padding: 0px 65px 15px 15px;

  .section3-main-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.section3-main-1-item {
  display: flex;
  justify-content: space-between;

  .section3-main-1-itembox {
    width: 50px;
    height: 50px;
    border: 1px solid #e7e6e6;
    border-radius: 12px;
    margin-right: 10px;
  }

  .section3-main-1-itemtext {
    display: flex;
    flex-direction: column;
  }
}

.section3-main-1-itemtext-first {
  @include text-typography(400, 14.77px, 24px);
}

.section3-main-1-itemtext-second {
  @include text-typography(400, 13.45px, 22.4px);
  color: #717171;
}

.section-3-main-2 {
  @include section3-section-char();
  h1 {
    @include section3-heading-typography();
  }
  p {
    @include text-typography(400, 14.41px, 28.13px);
  }
  h3 {
    font-family: Inter;
    font-size: 19.22px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #05073c;
  }
  ul {
    li {
      @include text-typography(400, 14.53px, 28.13px);
    }
  }
}

.section-3-main-3 {
  @include section3-section-char();
  h1 {
    @include section3-heading-typography();
  }
}

.section-3-main-3-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 80px;
  .section-3-main-3-grid-item {
    display: flex;
    align-items: center;
    p {
      @include text-typography(400, 14.41px, 28.13px);
    }
  }
  .section-3-main-3-grid-item:nth-child(-n + 6) {
    .section-3-main-3-grid-item-marker {
      @include section-3-grid-item-marker();
      background-color: #eff7f1;
    }
  }
  .section-3-main-3-grid-item:nth-last-child(-n + 3) {
    .section-3-main-3-grid-item-marker {
      @include section-3-grid-item-marker();
      background-color: #ffe5e5;
    }
  }
}

.section-3-main-4 {
  @include section3-section-char();
  h1 {
    @include section3-heading-typography();
    margin-bottom: 0;
  }
}

.itinerary-grid {
  display: grid;
  padding-left: 15px;
  .itinerary-grid-item {
    display: flex;
    align-items: center;
    padding-bottom: 45px;
    border-left: 1px dashed #eb662b;
    p {
      @include text-typography(500, 15.36px, 30px);
      margin: 0;
    }
  }
  .itinerary-grid-item:last-child {
    padding: 0;
  }
  .itinerary-grid-item {
    .itinerary-grid-item-box {
      height: 18px;
      width: 18px;
      border-radius: 18px;
      border: 3px solid #eb662b;
      margin-right: 15px;
      margin-left: -13px;
      background-color: white;
    }
  }
  .itinerary-grid-item:first-child,
  .itinerary-grid-item:last-child {
    .itinerary-grid-item-box {
      width: 30px;
      height: 30px;
      border-radius: 30px;
      background-color: #eb662b;
      margin-left: -18px;
    }
  }

  .itinerary-grid-item:nth-child(3) {
    align-items: flex-start;
    div:last-child {
      p:first-child {
        @include text-typography(500, 15.36px, 30px);
        margin-bottom: 19px;
      }
      p:last-child {
        @include text-typography(400, 14.53px, 28.13px);
        width: 566px;
      }
    }
  }
}

.section-3-main-5 {
  @include section3-section-char();
  h1 {
    @include section3-heading-typography();
  }
  .tour-map-div {
    width: 850px;
    height: 550px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.section-3-main-6 {
  @include section3-section-char();
  h1 {
    @include section3-heading-typography();
  }
  .calendar {
    width: 504px;
    height: 305px;
    img {
      height: 100%;
      width: 100%;
    }
  }
}

// Section 4
body {
  font-family: "Inter", sans-serif;
  color: $text-color;
}

#Section3container1 {
  > .FAQHeading {
    padding-left: 15px;
    @extend %section3heading;
  }
  > .FAQcontainer1 {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding: 20px 21px 16px 21px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    > div:nth-of-type(1) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      > h6 {
        font-size: 15.63px;
        font-weight: 500;
        line-height: 28px;
        margin: 0px 0px 0px 22px;
      }
      > div {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 21px;
        background-color: $orange-color;
      }
    }
    > div:nth-of-type(2) {
      // margin: 1px 21px 21px 16px;
      font-size: 14.53px;
      font-weight: 400;
      line-height: 28.13px;
      padding-top: 24px;
      padding-bottom: 4px;
      > p {
        margin: 0px;
      }
    }
  }
  > .FAQcontainer2 {
    width: 850px;
    height: 62px;
    top: 3313.12px;
    left: 15px;
    box-sizing: border-box;
    padding: 16px 21px 16px 21px;
    gap: 0px;
    border-radius: 12px;
    // border: 1px solid;
    opacity: 0px;
    margin: 0px 15px 20px 15px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    > p {
      margin: 0px;
    }
  }
  > .FAQcontainer3 {
    width: 850px;
    height: 62px;
    top: 3313.12px;
    left: 15px;
    box-sizing: border-box;
    padding: 16px 21px 16px 21px;
    gap: 0px;
    border-radius: 12px;
    // border: 1px solid;
    opacity: 0px;
    margin: 0px 15px 20px 15px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    > p {
      margin: 0px;
    }
  }
  > .FAQcontainer4 {
    width: 850px;
    height: 62px;
    top: 3313.12px;
    left: 15px;
    box-sizing: border-box;
    padding: 16px 21px 16px 21px;
    gap: 0px;
    border-radius: 12px;
    // border: 1px solid;
    opacity: 0px;
    margin: 0px 15px 20px 15px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    > p {
      margin: 0px;
    }
  }
}

.horizontalLine {
  width: 850px;
  height: 1px;
  top: 3599.12px;
  left: 15px;
  gap: 0px;
  opacity: 0px;
  margin: 0px 60px;
}

.ReviewContainer {
  width: 850px;
  height: 326px;
  top: 3735.12px;
  left: 15px;
  gap: 0px;
  opacity: 0px;
  display: grid;
  grid-template-areas:
    "a1 a1"
    "a2 a3"
    "a4 a5"
    "a6 a7"
    "a8 a9";

  > div:nth-of-type(1) {
    width: 850px;
    height: 78.5px;
    padding: 16px 30px 16px 30px;
    box-sizing: border-box;
    grid-area: a1;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    background: #eb662b1a;
    border-radius: 12px 12px 0 0;
    > div:nth-of-type(1) {
      width: 163.83px;
      height: 46.5px;
      top: 16px;
      left: 30px;
      gap: 0px;
      opacity: 0px;
      > p {
        margin: 0px 0px 0px 60px;
        font-size: 15.5px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
      }
    }
    > div {
      align-self: center;
    }
  }
  > div:nth-of-type(2) {
    width: 423px;
    height: 78.5px;
    padding: 16px 30px 16px 30px;
    box-sizing: border-box;
    grid-area: a2;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    background: #eb662b0a;
    > div:nth-of-type(1) {
      width: 163.83px;
      height: 46.5px;
      top: 16px;
      left: 30px;
      gap: 0px;
      opacity: 0px;
      > p {
        margin: 0px 0px 0px 60px;
        font-size: 15.5px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
      }
    }
    > div {
      align-self: center;
    }
  }
  > div:nth-of-type(3) {
    width: 423px;
    height: 78.5px;
    padding: 16px 30px 16px 30px;
    box-sizing: border-box;
    grid-area: a3;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    background: #eb662b0a;
    background: #eb662b0a;

    > div:nth-of-type(1) {
      width: 163.83px;
      height: 46.5px;
      top: 16px;
      left: 30px;
      gap: 0px;
      opacity: 0px;
      > p {
        margin: 0px 0px 0px 60px;
        font-size: 15.5px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
      }
    }
    > div {
      align-self: center;
    }
  }
  > div:nth-of-type(4) {
    width: 423px;
    height: 78.5px;
    padding: 16px 30px 16px 30px;
    box-sizing: border-box;
    grid-area: a4;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    background: #eb662b0a;

    > div:nth-of-type(1) {
      width: 163.83px;
      height: 46.5px;
      top: 16px;
      left: 30px;
      gap: 0px;
      opacity: 0px;
      > p {
        margin: 0px 0px 0px 60px;
        font-size: 15.5px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
      }
    }
    > div {
      align-self: center;
    }
  }
  > div:nth-of-type(5) {
    width: 423px;
    height: 78.5px;
    padding: 16px 30px 16px 30px;
    box-sizing: border-box;
    grid-area: a5;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    background: #eb662b0a;

    > div:nth-of-type(1) {
      width: 163.83px;
      height: 46.5px;
      top: 16px;
      left: 30px;
      gap: 0px;
      opacity: 0px;
      > p {
        margin: 0px 0px 0px 60px;
        font-size: 15.5px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
      }
    }
    > div {
      align-self: center;
    }
  }
  > div:nth-of-type(6) {
    width: 423px;
    height: 78.5px;
    padding: 16px 30px 16px 30px;
    box-sizing: border-box;
    grid-area: a6;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    background: #eb662b0a;
    border-bottom-left-radius: 12px;
    > div:nth-of-type(1) {
      width: 163.83px;
      height: 46.5px;
      top: 16px;
      left: 30px;
      gap: 0px;
      opacity: 0px;
      > p {
        margin: 0px 0px 0px 60px;
        font-size: 15.5px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
      }
    }
    > div {
      align-self: center;
    }
  }
  > div:nth-of-type(7) {
    width: 423px;
    height: 78.5px;
    padding: 16px 30px 16px 30px;
    box-sizing: border-box;
    grid-area: a7;
    gap: 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    background: #eb662b0a;
    border-bottom-right-radius: 12px;
    > div:nth-of-type(1) {
      width: 163.83px;
      height: 46.5px;
      top: 16px;
      left: 30px;
      gap: 0px;
      opacity: 0px;
      > p {
        margin: 0px 0px 0px 60px;
        font-size: 15.5px;
        font-weight: 500;
        line-height: 24px;
        text-align: left;
      }
    }
    > div {
      align-self: center;
    }
  }
}

.comment {
  width: 880px;
  height: auto;
  margin: 35px 0px 20px 0px;
  padding: 0px 15px;
  box-sizing: border-box;
  > .commentHeading {
    display: flex;
    justify-content: space-between;
    > .ATandAli {
      width: 124px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > .ATImage {
        width: 40xp;
        height: 40px;
        object-fit: cover;
      }
    }
    > .April2023 {
      font-family: Inter;
      font-size: 13.78px;
      font-weight: 400;
      line-height: 26.25px;
      text-align: left;
      color: rgba(113, 113, 113, 1);
    }
  }
  .Takethistour {
    width: 203.81px;
    height: 30px;
    gap: 0px;
    opacity: 0px;
    font-size: 15.63px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    margin-left: 80px;
    margin-top: 20px;
  }
  .commentPara {
    width: 831.47px;
    height: 48.13px;
    font-size: 14.65px;
    font-weight: 400;
    line-height: 28.13px;
    text-align: left;
  }
  .commentImages {
    width: 430px;
    height: auto;
    display: flex;
    justify-content: space-between;
  }
  .helpfulorNot {
    margin-top: 20px;
    width: 200px;
    height: auto;
    display: flex;
    justify-content: space-around;
  }
  .SeeMoreReview {
    margin: 30px auto 63px 15px;
    padding: 21px 62px 21px 36px;
    color: $orange-color;
    border: 1px solid $orange-color;
    border-radius: 12px;
    font-size: 14.65px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    background-color: white;
  }
}
.leaveReplyPara {
  padding-left: 15px;
}
.ReviewsOnPoint {
  margin-bottom: 30px;
  width: 508px;
  display: grid;
  grid-template-areas:
    "a1 a2 a3"
    "a4 a5 a6";
  > div:nth-of-type(1) {
    padding: 15px;
    grid-area: a1;
  }
  > div:nth-of-type(2) {
    padding: 15px;
    grid-area: a2;
  }
  > div:nth-of-type(3) {
    padding: 15px;
    grid-area: a3;
  }
  > div:nth-of-type(4) {
    padding: 15px;
    grid-area: a4;
  }
  > div:nth-of-type(5) {
    padding: 15px;
    grid-area: a5;
  }
  > div:nth-of-type(6) {
    padding: 15px;
    grid-area: a6;
  }
}
.form-example {
  padding: 0px 15px;
  width: 850px;
  display: flex;
  justify-content: space-between;
}
#FormName {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 410px;
  height: 55px;
  border-radius: 12px;
  outline: none;
}
#FormEmail {
  border: none;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 410px;
  height: 55px;
  outline: none;
}
#FormTitle {
  width: 850px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  border: none;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  height: 55px;
  outline: none;
}
#FormComment {
  width: 850px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  border: none;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  height: 137px;
  outline: none;
}
.PostCommetn {
  margin-left: 15px;
  margin-top: 40px;
  @include letters(14.41, 500, 28, #ffffff);
  @include button(203.31px, 62px, 12px, #eb662b);
}

#Section4container {
  width: 1320px;
  height: 502.31px;
  margin: 0px auto;

  #heading {
    display: flex;
    align-items: center;
    > h2 {
      color: $text-color;
    }
  }
}

#Section4CardContainer {
  width: 1290px;
  height: 417.31px;
  top: 178px;
  left: 15px;
  padding: 0px 0px 5px 0px;
  gap: 0px;
  opacity: 0px;
  justify-content: space-between;
  display: grid;
  grid-template-areas: "a2 a3 a4 a5";
  > div:nth-of-type(1) {
    width: 300px;
    height: 412.31px;
    top: 95px;
    left: 15px;
    gap: 0px;
    border-radius: 12px;
    opacity: 0px;
    grid-area: a2;
    border: 1px solid #e7e6e6;
  }
  > div:nth-of-type(2) {
    width: 300px;
    height: 412.31px;
    top: 95px;
    left: 15px;
    gap: 0px;
    border-radius: 12px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    grid-area: a3;
    border: 1px solid #e7e6e6;
  }
  > div:nth-of-type(3) {
    width: 300px;
    height: 412.31px;
    top: 95px;
    left: 15px;
    gap: 0px;
    border-radius: 12px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    grid-area: a4;
    border: 1px solid #e7e6e6;
  }
  > div:nth-of-type(4) {
    width: 300px;
    height: 412.31px;
    top: 95px;
    left: 15px;
    gap: 0px;
    border-radius: 12px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    grid-area: a5;
    border: 1px solid #e7e6e6;
  }
}

#Section4CardContainer > div > img {
  width: 278px;
  height: 198.56px;
  gap: 0px;
  border-radius: 12px;
  opacity: 0px;
  position: relative;
  top: 11px;
  left: 11px;
}
.Section4country {
  width: 85.92px;
  height: 24.38px;
  position: relative;
  top: -20px;
  left: 42px;
  gap: 0px;
  margin: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 12.29px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
  color: #717171;
  display: inline-block;
}
.Section4ball {
  width: 35px;
  height: 35px;
  top: -16px;
  left: 135px;
  z-index: 1;
  padding: 10px 9.8px 10px 10px;
  gap: 0px;
  border-radius: 50%;
  opacity: 0px;
  box-shadow: 0px 10px 40px 0px #0000000d;
  display: inline-block;
  position: relative;
  background-color: rgb(252, 251, 251);
}
.Section4heading {
  margin: 0px;
  width: 249.4px;
  height: 45px;
  position: relative;
  top: -15px;
  left: 21px;
  gap: 0px;
  opacity: 0px;
  font-family: Inter;
  font-size: 15.88px;
  padding-bottom: 5px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: $text-color;
}
.Section4rating {
  margin: 0px;
  width: 54.59px;
  height: 17px;
  position: relative;
  top: 5px;
  left: 101px;
  gap: 0px;
  opacity: 0px;
  padding-bottom: 5px;
  font-family: Inter;
  font-size: 12.49px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: center;
  color: $text-color;
}
.Section4price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 258px;
  height: 41px;
  top: 5px;
  left: 21px;
  padding: 0px 0px 0px 0px;
  gap: 0px;
  opacity: 0px;
  border-top: 1px solid #e7e6e6;
  > div:nth-of-type(1) {
    width: 60.77px;
    height: 24.38px;
    top: 13.82px;
    padding: 3px 0px 4.2px 0px;
    gap: 0px;
    opacity: 0px;
    > span {
      font-size: 12.59px;
      color: $text-color;
    }
  }
  > div:nth-of-type(2) {
    width: 90.44px;
    height: 30px;
    top: 11px;
    left: 167.56px;
    padding: 4px 0px 5px 0px;
    gap: 0px;
    display: flex;
    align-items: center;
    opacity: 0px;
    > span:nth-of-type(1) {
      color: $text-color;
      font-size: 13px;
    }

    > span:nth-of-type(2) {
      color: $text-color;
      font-size: 14.5px;
      font-weight: 500;
    }
  }
}
